---
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<a
  href={!post.data.planned ? `/blog/${post.slug}/` : null}
  class={`space-y-2 flex flex-col items-start rounded-lg p-5 bg-zinc-50 shadow shadow-zinc-500 hover:bg-zinc-200`}
>
  <div class="space-y-1">
      {
        post.data.tags.map((tag) => (
          <span class="font-semibold uppercase text-xs bg-zinc-800 text-white px-1 rounded">
            {tag.replace("-", " ")}
          </span>
        ))
      }
    <div class="flex items-center space-x-2">
      <h2 class="text-xl text-black font-bold">{post.data.title}</h2>
      {
        post.data.planned && (
          <span class="flex items-center justify-center p-0.5 px-1.5 bg-amber-500 rounded-full text-black font-black text-xs">
            Em breve
          </span>
        )
      }
    </div>
  </div>
  <p class="font-light text-black dark:text-zinc-50">{post.data.description}</p>
</a>
