@font-face {
  font-family: "Righteous";
  src: url("/fonts/Righteous.eot");
  src: url("/fonts/Righteous.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Righteous.woff2") format("woff2"), url("/fonts/Righteous.woff") format("woff"),
    url("/fonts/Righteous.ttf") format("truetype"),
    url("/fonts/Righteous.svg#Righteous") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  @apply antialiased;
}

div[data-rehype-pretty-code-fragment] {
  @apply space-y-0;
}

div[data-rehype-pretty-code-fragment] div {
  @apply bg-slate-900 border-b-slate-800;
}

div[data-rehype-pretty-code-fragment] div span {
  @apply text-white font-light;
}

div[data-rehype-pretty-code-fragment] pre {
  @apply p-0 py-2 rounded-t-none rounded-lg overflow-x-auto bg-slate-900;
}

div[data-rehype-pretty-code-fragment] code {
  counter-reset: line;
  @apply flex flex-col;
}

div[data-rehype-pretty-code-fragment] .line::before {
  counter-increment: line;
  content: counter(line);
  @apply pr-4;
}

div[data-rehype-pretty-code-fragment] .line {
  @apply border-l-4 border-transparent px-3;
}

div[data-rehype-pretty-code-fragment] .highlighted {
  @apply border-blue-400 bg-blue-400/20;
}

article p {
  @apply text-lg font-light leading-7 tracking-tight text-black dark:text-zinc-50;
}

article ul, article ol {
  @apply space-y-4;
}

article table {
  @apply w-full text-left text-black dark:text-white;
}

article table thead {
  @apply bg-gray-400 dark:bg-gray-800;
}

article table th {
  @apply px-4 py-2 font-light text-sm text-center border dark:border-gray-700;
}

article table td {
  @apply font-light text-sm px-20 py-2 border dark:border-gray-700;
}

article table td:first-child {
  @apply font-light text-sm px-4 py-2 border dark:border-gray-700;
}

article table tr:nth-child(even) {
  @apply bg-gray-300 dark:bg-gray-800;
}

ul, ol {
  @apply font-light tracking-tight text-black dark:text-zinc-50;
}

img {
  width: 100%;
  height: auto;
}