---
import MdiLinkedin from "~icons/mdi/linkedin";
import MdiGithub from "~icons/mdi/github";
import MdiRss from "~icons/mdi/rss";

import PostsList from "../components/PostsList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import SeriesList from "../components/SeriesList.astro";
import Hero from "../components/Hero.astro";
import SearchBar from "../components/SearchBar.astro";

const posts = await getCollection("blog");

const sortedPosts = posts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => !post.data.planned)
  .slice(0, 3);

const featuredPosts = posts.filter((post) => post.data.featured);

const featuredSeries = (await getCollection("series")).filter((s) => s.data.featured);
---

<BaseLayout>
  <div class="space-y-10">
    <div class="space-y-1">
      <Hero />
      <div class="space-x-1 flex justify-center">
        <a
          href="https://linkedin.com/in/josafamarengo"
          target="_blank"
          class="inline-flex items-center justify-center space-x-2 py-2 px-3 rounded-md text-white bg-gray-800 hover:bg-gray-700"
        >
          <MdiLinkedin />
          <span>Linkedin</span>
        </a>
        <a
          href="https://github.com/josafamarengo"
          target="_blank"
          class="inline-flex items-center justify-center space-x-2 py-2 px-3 rounded-md text-white bg-gray-800 hover:bg-gray-700"
        >
          <MdiGithub />
          <span>GitHub</span>
        </a>
        <a
          href="/rss.xml"
          target="_blank"
          class="inline-flex items-center justify-center space-x-2 py-2 px-3 rounded-md text-white bg-gray-800 hover:bg-gray-700"
        >
          <MdiRss />
          <span>RSS</span>
        </a>
      </div>
    </div>
    {
      featuredPosts.length > 0 && (
        <div class="space-y-5">
          <h2 class="text-3xl text-black dark:text-white">Destaque</h2>
          <PostsList posts={featuredPosts} />
        </div>
      )
    }
    <div class="space-y-5">
      <div class="flex items-center justify-between space-x-2">
        <h2 class="text-3xl text-black dark:text-white">Últimos Posts</h2>
        <a
          href="/blog"
          class="inline-flex items-center justify-center py-0.5 px-3 bg-gray-800 hover:bg-blue-800 rounded-full text-sm text-white transition-colors duration-300 ease-in-out"
          >Ver todos</a
        >
      </div>
      <PostsList posts={sortedPosts} />
    </div>
    {
      featuredSeries.length > 0 && (
        <div class="space-y-5">
          <div class="flex items-center justify-between space-x-2">
            <h2 class="text-3xl text-black dark:text-white">Séries</h2>
            <a
              href="/series"
              class="inline-flex items-center justify-center py-0.5 px-3 bg-blue-600 hover:bg-blue-800 rounded-full text-sm text-white"
            >
              Ver todas
            </a>
          </div>
          <SeriesList series={featuredSeries} />
        </div>
      )
    }
  </div>
  <a rel="me" href="https://mastodon.social/@josafa"></a>
</BaseLayout>
