---
import PostsList from "../components/lists/PostsList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import SeriesList from "../components/lists/SeriesList.astro";
import Hero from "../components/elements/Hero.astro";
import LatestVideo from "../components/objects/VideoCard.astro";

const posts = await getCollection("blog");

const sortedPosts = posts
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => !post.data.planned)
  .slice(0, 3);

const featuredPosts = posts.filter((post) => post.data.featured);

const featuredSeries = (await getCollection("series")).filter((s) => s.data.featured);

const channelId = import.meta.env.PROD ? "UCraUQSH-tLy8jI1R_hzbTkg" : "UCyHOBY6IDZF9zOKJPou2Rgg";
---

<BaseLayout isHome>
  <div class="space-y-10">
    <div class="space-y-1">
      <Hero />
    </div>
    {
      featuredPosts.length > 0 && (
        <div class="space-y-5">
          <h2 class="text-3xl text-black">Destaque</h2>
          <PostsList posts={featuredPosts} />
        </div>
      )
    }
    <div class="space-y-5">
      <div class="flex items-center justify-between space-x-2">
        <h2 class="text-3xl text-black">Últimos Posts</h2>
        <a
          href="/blog/"
          class="inline-flex items-center justify-center py-0.5 px-3 bg-zinc-800 hover:bg-blue-800 rounded-full text-sm text-white transition-colors duration-300 ease-in-out"
          >Ver todos</a
        >
      </div>
      <PostsList posts={sortedPosts} />
    </div>
    {
      featuredSeries.length > 0 && (
        <div class="space-y-5">
          <div class="flex items-center justify-between space-x-2">
            <h2 class="text-3xl text-black">Séries</h2>
            <a
              href="/series/"
              class="inline-flex items-center justify-center py-0.5 px-3 bg-zinc-800 hover:bg-blue-800 rounded-full text-sm text-white transition-colors duration-300 ease-in-out"
            >
              Ver todas
            </a>
          </div>
          <SeriesList series={featuredSeries} />
        </div>
      )
    }
    <section class="mt-4">
      <LatestVideo channelID={channelId} />
    </section>
  </div>
  <a rel="me" href="https://mastodon.social/@josafa" aria-label="Mastodon"></a>
</BaseLayout>
