---
import SearchBar from "../components/SearchBar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Pesquisar" description="Encontre respostas rápidas e precisas para suas perguntas. Explore uma ampla gama de artigos, tutoriais e recursos com facilidade.">
  <h1 class="text-black dark:text-white pb-10 text-4xl">Busca</h1>
  <div class="max-w-3xl mx-auto">
    <SearchBar />
  </div>
</BaseLayout>
