---
import SearchBar from "../components/SearchBar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Pesquisar" description="Página de pesquisa">
  <div class="max-w-3xl mx-auto">
    <SearchBar />
  </div>
</BaseLayout>
