---
import ToggleTheme from "./ToggleTheme";
import Popover from "./Popover.astro";
import SearchButton from "./SearchButton.astro";
---

<header
  class="hidden sm:block px-4 py-3 fixed top-0 left-0 right-0 z-50 bg-zinc-50 dark:bg-zinc-900"
>
  <div class="container mx-auto md:max-w-3xl lg:max-w-6xl flex justify-between items-center">
    <a href="/">
      <img
        src="/apple-touch-icon.png"
        alt="Josafa"
        width="30"
        height="30"
        class="h-8 w-8 sm:h-10 sm:w-10 rounded-full"
      />
    </a>
    {/*<nav>
      <ul class="flex space-x-1 text-sm">
        <li
          class="px-4 py-2 text-sm hover:bg-zinc-200 cursor-pointer dark:hover:text-white dark:hover:bg-zinc-800 rounded-lg"
        >
          Categorias
        </li>
        <Popover name="Ferramentas Online">
          <ul class="p-2 dark:text-white">
            <li class="p-2 hover:bg-zinc-400 dark:hover:bg-zinc-700 rounded-md">
              <a href="/ferramentas/gerador-de-a-whatsapp/"> Gerador de link de WhatsApp</a>
            </li>
            <li class="p-2 hover:bg-zinc-400 dark:hover:bg-zinc-700 rounded-md">
              <a href="/ferramentas/gerador-de-qr-code/"> Gerador de QR Code</a>
            </li>
            <li class="p-2 hover:bg-zinc-400 dark:hover:bg-zinc-700 rounded-md">
              <a href="/ferramentas/cifra-de-cesar/"> Cifra de César</a>
            </li>
            <li class="p-2 hover:bg-zinc-400 dark:hover:bg-zinc-700 rounded-md">
              <a href="/ferramentas/calculadora-de-freelas/"> Calculadora de Freelas</a>
            </li>
          </ul>
        </Popover>
      </ul>
    </nav>*/}
    <div class="flex justify-between items-center w-20">
      <div class="text-2xl">
        <SearchButton />
      </div>
      <ToggleTheme client:idle />
    </div>
  </div>
</header>
