---
import Home from "~icons/mdi/home";

import ToggleTheme from "./ToggleTheme";
import ScrollToTopButton from "./ScrollToTopButton";
import SearchButton from "./SearchButton.astro";

function handleOnClick() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
---

<nav class="fixed py-3 bottom-2 left-2 right-2 h-12 bg-gradient-to-t from-zinc-950 from-10% to-zinc-800 rounded-lg sm:hidden">
  <ul class="flex justify-around">
    <li>
      <a href="/" class="text-white text-xl" aria-label="Página Inicial">
        <Home />
      </a>
    </li>
    <li class="text-white text-xl">
      <SearchButton />
    </li>
    <li class="text-white">
      <ToggleTheme client:idle />
    </li>
    <li class="text-white">
      <ScrollToTopButton client:idle />
    </li>
  </ul>
</nav>
