---
type Heading = {
  depth: number;
  text: string;
  slug: string;
  subheadings: Heading[];
};

export interface Props {
  heading: Heading;
}

const { heading } = Astro.props;
---

<li class="ml-4">
  {
    heading.subheadings.length > 0 ? (
      <span id="accordion" class="cursor-pointer">{heading.text}</span>
      <ul class="list-disc list-outside hidden">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>)
      :
      <a class="hover:text-slate-400 dark:hover:text-white" href={"#" + heading.slug}>
    {heading.text}
  </a>
  }
</li>

<script>
  var accordion = document.getElementById("accordion");
  if (accordion) {
    accordion.addEventListener("click", function () {
      var ul = accordion!.nextElementSibling;
      if (ul!.classList.contains("hidden")) {
        ul!.classList.remove("hidden");
      } else {
        ul!.classList.add("hidden");
      }
    });
  }
</script>
