---
import TableOfContentHeading from "../objects/TableOfContentHeading.astro";

type TableOfContent = {
  depth: number;
  text: string;
  slug: string;
  subheadings: TableOfContent[];
};

type Heading = {
  depth: number;
  slug: string;
  text: string;
};

function buildToc(headings: Heading[]): TableOfContent[] {
  const toc: TableOfContent[] = [];
  const parentHeadings = new Map();

  headings.forEach((h) => {
    const heading = { ...h, subheadings: new Array<TableOfContent>() };
    parentHeadings.set(heading.depth, heading);

    if (heading.depth === 2) {
      toc.push(heading);
    } else {
      parentHeadings.get(heading.depth - 1).subheadings.push(heading);
    }
  });

  return toc;
}

const { headings } = Astro.props;

const toc = buildToc(headings);
---

<nav class="space-y-2 mb-2 border border-zinc-700 bg-white rounded-lg overflow-hidden px-6 sm:px-28 py-8 w-[min(600px,100%)] relative">
  <span class="font-black text-black uppercase"> Confira nesse artigo:</span>
  <div class="not-prose">
    <ul id="list" class={`list-disc list-outside space-y-2 max-h-[120px] overflow-hidden ${headings.length > 3 && "pb-8"}`}>
      {toc.map((heading) => <TableOfContentHeading heading={heading} />)}
    </ul>
    {
      headings.length > 3 && (
        <button id="more" class="bg-zinc-900 text-white absolute bottom-0 left-0 right-0 text-center w-full py-2 font-bold text-sm"
      >Ver mais</button>
      )
    }
  </div>
</nav>

<script>
  const more = document.getElementById("more");
  const list = document.getElementById("list");

  if (more) {
    more.addEventListener("click", () => {
      if (list?.classList.contains("max-h-[120px]")) {
        list?.classList.remove("max-h-[120px]");
        more.innerHTML = "Ver menos";
      } else {
        list?.classList.add("max-h-[120px]");
        more.innerHTML = "Ver mais";
      }
    });
  }
</script>
